body {
    padding: 0;
    margin: 0;
    background-color: #a5b1bd;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../ims/IMG_06252.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.titlet{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../ims/IMG_02182.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titleab{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../ims/IMG_02412.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlere{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../ims/IMG_02972.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlepo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../ims/IMG_02922.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlewp{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../ims/IMG_05922.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlewr{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../ims/IMG_06122.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlega{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../ims/IMG_02042.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlec{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../ims/IMG_04252.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.titlel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../ims/IMG_08502.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    height: 100vh;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleb{
    background-color: rgba(225,225,225,.4);
    width: 40%;
}

h1{
    color: #fde9ce;
    font-size: 50px;
    text-align: center;
}

.topr{
    background-color: #fde9ce;
    width: 240px;
    text-align: center;
    margin: 0;
    border: 5px solid #fde9ce;
}

h1, h2, h3, h4{
    font-family: 'Orator Std Medium', medium;
}

a{
    text-decoration: none;
    color: skyblue;
}

.name{
    border: 2px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.rvt{
    width: 100%;
}

ul{
    list-style-type: none;
}

nav{
    background-color: #393e41;
    padding: 1%;
}

h2{
    margin-top: 0;
}

p, a{
    font-family: "Tahoma Regular";
}

p{
    font-size: 20px;
    margin-top: 0;
}

.title{
    display: flex;
}

.dropdown{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.dropl{
    display: inline-block;
    border: 3px solid #fde9ce;
    background-color: white;
    width: 300px;
    height: 29px;
    margin-right: 1%;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #3f5676;
    margin-top: 0;
}

.dropl:last-child{
    margin-left: 1%;
}

.dropl:hover{
    background-color: rgba(225,225,225,.8);
}

.dropc{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropc a{
    text-decoration: none;
    display: block;
    text-align: center;
    border: 2px solid #a5b1bd;
    background-color: white;
    width: 300px;
    height: 29px;
    margin-right: 1%;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #3f5676;
}

.dropc a:hover{
    background-color: rgba(225,225,225,.8);
}

.sidething:hover .dropc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidething{
    overflow: hidden;
}

section{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(134,139,145,.9);
    padding: 1%;
    height: 100%;
}

/** home page **/
.bigh{
    width: 100%;
    background-color: #868b91;
    padding: 1%;
    text-align: center;
    font-family: "Tahoma Regular";
    margin: auto;
    transform: rotate(90deg);
}

.bighh{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size{
    width: 50%;
    height: 25%;
}

.size p{
    margin-top: 10%;
}

.flexh{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardh{
    display: flex;
    justify-content: space-around;
}

.carda{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../ims/IMG_05222.jpg);
    background-size: cover;
}

.cardr{
    background-image: url(../ims/IMG_05042.jpg);
    background-size: cover;
}

.cardp{
    background-image: url(../ims/IMG_04862.jpg);
    background-size: cover;
}

/** About Me **/

    

/**resume**/
.resume{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.edu, .work, .lang, .plang{
    width: 40%;
}

.headr{
    text-decoration: underline;
    font-size: 35px;
}

.resume li{
    font-size: 20px;
}

.lorr{
    font-family: 'Orator Std Medium', medium;
}
/** Portfolio **/
.portc{
    width: 25%;
}

.portc a{
    text-decoration: none;
}

.portfl{
    display: flex;
    justify-content: space-around;
}

.portfl a{
    text-decoration: none;
}

.webpc{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../ims/IMG_07132.jpg);
    background-size: cover;
}

.webpw{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../ims/notebook-pen-table-blank-158771.jpg);
    background-size: cover;
}

.webpg{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../ims/IMG_065423.jpg);
    background-size: cover;
}

.webp{
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.webp h3{
    height: 5%;
}

.webp p{
    text-align: center;
}
/** tech skills **/
.resfl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
}

.resfl h2{
    width: 100%;
    margin-left: 50%;
}

.resfl img, .resflr img{
    width: 700px;
}

.resfl p{
    width: 50%;
}

.resflr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 5%;
}

.resflr h2{
    width: 100%;
}

.resflr p{
    width: 50%;
}

/**Writing**/
.blox{
    border: 5px solid black;
    padding: 1%;
    width: 75%;
    margin-bottom: 2%;
}

.bloxf{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.line h2{
    border-bottom: 3px solid;
}


/** Gallery **/

.picf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
}

.galcon{
    width: 60%;
    position: relative;
    margin-bottom: 5%;
}

.gal{
    display: none;
}

.galp{
    width: 100%;
}

.but{
    width: 67.3%;
}

.picp{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between; 
}

.column{
    width: 23%;
}

.bigger{
    width: 60%;
}

.view{
    width: 100%;
}

/**Other stuff**/

.lor{
    display: flex;
    justify-content: center;
}

/**Media queries**/

@media screen and (max-width: 1440px){
    body{
        100%;
    }
    
    .titlet{
        height: 100vh;
    }
    
    .dropl{
        width: 100%;
    }
    
    .dropl a{
        width: 100%;
    }
    
    .dropc{
        width: 100%;
    }
}